:root{
    --viole_doux:#6c63FF;
    --viole_fonce:#534EDD;
    --orange-vif:#FFA726;
    --gris_fonce:#666;
    --gris_trés_clair:#F8F8F8;
    --gris_clair:#EEE;
}
h1{
    color:var(--gris_fonce);
}
*{
    margin:0 px;
    padding: 0 px;
    box-sizing: border-box;
}
body{
    background-color: var(--gris_clair);
    font-family: Roboto,sans-serif;
    line-height: 1.6;
}

header{
    background-color: white;
    box-shadow:  2px 6PX 10px rgb(0,0,0,0.05);
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
}
header div a{
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--viole_doux);
}
ul li {
    list-style: none;
    margin-left: 15px;
}
ul{
    display: flex;
}
ul li a{
    text-decoration: none;
    color:var(--gris_fonce);
    font-weight: 60px; 
    font-size: 1.1rem; 
    position: relative;
    padding: 10px 0;
}
ul li a:hover{
    color:var(--viole_doux);
}
ul li a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    font-weight: bold;
    background-color: var(--viole_doux);
    transition: width O.3s ease;
}
ul li a:hover::after{
    width: 100%;
}
a.active{
    color:var(--viole_doux);
 }
 a.active::after{
    width: 100%;
 }
 .hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    text-align: center;
    margin-top: 10rem 2rem;
 } 
 .hero img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 8px solid var(--viole_doux);
 }
 .hero h1{
    color: var(--viole_doux);
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
 }
 .hero p{
    color: var(--gris_fonce);
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
 }
 .hero a{ 
    text-decoration: none;
    display: inline-block;
    background-color: var(--viole_doux);
    color: white;
    padding: 15px 30px ;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-weight: 600;
    margin-top: 1rem;
    transition: background-color 0.3s ease,transform 0.2s ease;
 }
 .hero a:hover{
    background-color: var(--gris_fonce);
    transform: translatey(-3px);

 }
