header{background-color: antiquewhite;
height: 200px;
}
body{background-color: azure;
height: 500px;
}
nav{background-color: aquamarine;
height: 200px;
}
footer{background-color: beige;
height: 200px;
}